@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: Itim;
    src: url(../font/Itim-Regular.ttf);
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}